



# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*.bsc
*.obj
*.sbr
*.ncb
*.exe
*.plg
*.opt
*.pch
*.idb
/Release
/Debug
log.txt
/ConsoleTest\Debug/*.ilk
/ConsoleTest\Debug/*.pdb
/ConsoleTest/ERROR.txt
/ConsoleTest/OUTPUT.txt
