



# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*.bsc
*.obj
*.sbr
*.ncb
*.exe
*.plg
*.opt
*.dsw
*.dsp
*.pch
*.idb
/Release
/Debug
log.txt
